/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/secureconfigscripts
/storage/*.key
/storage/pail
/vendor
/.idea
/.nova
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.sql
package-lock.json
composer.lock
