/* ==========================================================================
   Base styles
   ========================================================================== */
body {
    overflow-anchor: none;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #616161;
    line-height: 1.42857143;
    font-size: 14px;
}
img {
    max-width: 100%;
}
a:link, a:visited {
    outline: 0;
}
a:hover, a:active {
    text-decoration: none;
}
a img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

/* ==========================================================================
   Social Icon Fixes
   ========================================================================== */

.my-fa-linkedin:before {
    content: "\f0e1";
}
.my-fa-linkedin-square:before {
    content: "\f08c";
}
.my-fa-github:before {
    content: "\f09b";
}
.my-fa-github-square:before {
    content: "\f092";
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Media query for fixing social buttons in mobile size and adding padding to portfolio images. */
@media (max-width: 993px) {
    .btn-contact.contact-me {
        margin: 0 0 0 0 !important;
    }
    .socia-icons .btn {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
    .grid-wrapper img {
        padding: 20px;
    }
    .centered {
        margin-top: 0;
    }
    #page-profile .profile {
        margin: 0 auto 20px auto;
    }
    .mobile-img {
        width: 300px;
        height: 220px;
    }
    .center-intro {
        height: 100vh;
        position: relative;
    }
}


@media (min-width: 993px) {
    #grid .mix .overlay {
        display: inline-block;
        background: #3498db;
    }

    #grid .mix .overlay:hover .overlayblue {
        opacity: .3;
    }
    .centered {
        margin-top: -100px;
    }
    .socia-icons .btn {
        /* Should be 15px for more than 2 icons. */
        margin-right: 10px;
        /* Need to remove this if adding more than 2 icons. */
        margin-left: 10px;
    }
    .btn-contact.contact-me {
        margin: 0 0 0 0 !important;
    }
    .center-intro {
        height: 118vh;
        position: relative;
    }
}
@media (min-width: 1600px) {
    .center-intro {
        height: 111vh;
        position: relative;
    }
}
@media (max-width: 479px) {
    #page-welcome header h1 {
        font-size: 2em;
    }
    #page-welcome header p {
        font-size: 1em;
        line-height: 3em;
    }
    .section-title {
        font-size: 1.5em;
    }
    .section-header p {
        font-size: 1.2em;
    }
    #page-skills {
        text-align: center;
    }
    #grid {
        text-align: center;
    }
    #page-profile .profile {
        margin: 0 auto 20px auto;
    }
}

/* ==========================================================================
   Carousel Slider
   ========================================================================== */

.slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 110vh;
    background-size: cover;
    background: no-repeat center center;
    transition: all 1s ease;
}
.fadeOut {
    opacity: 0;
}
.cachedImages {
    display: none;
}
.carousel-wrapper {
    height: 100vh;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: -20px;
    opacity: 0;
    transition: all 1.2s ease;
    background-size: cover;
    background-position: center;
}

.arrow {
    position:absolute;
    top:0;
    display: block;
    width: 50px;
    height: 100%;
    opacity: 0.3;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("/img/arrow.png") 50% 50% / 80px no-repeat;
}
.arrow:hover {
    opacity: 1;
}
.arrow-prev {
    left: 0;
    margin-left: 70px;
}
.arrow-next {
    right: 0;
    margin-right: 70px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
@media (max-width: 992px) {
    .arrow-prev {
        margin-left: 30px;
        margin-top:  10px;
    }
    .arrow-next {
        margin-right: 30px;
        margin-top:  10px;
    }
}
.light {
    color: #ffffff;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.navbar-static-top {
    margin-bottom: 19px;
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
#navbar-toggle-cbox {
    display: none
}
.navbar {
    width: 100%;
}

.navbar-toggler:hover {
    background-color: #bdbdbd;
    outline-width: 0;
}
.navbar-light {
    background: rgba(255, 255, 255, 0.85);
    border: #bdbdbd;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    z-index: 1000;
}
.navbar-nav {
    margin: 0 auto;
    padding: 3px;
    list-style: none;
    display: inline-block;
    float: none;
    font-size: 1em;
    font-weight: bold;
}
#navbar-toggle-label {
    margin: 7px 0 7px 0;
}

/* ==========================================================================
   Layout
   ========================================================================== */

#page-welcome {
    width: 100%;
    height: 100% !important;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#page-welcome header {
    color: #fff;
    padding-top: 20%;
}
#page-welcome header h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-transform: uppercase;
}
#page-welcome header p {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 8px;
    letter-spacing: 0.1em;
    line-height: 3em;
    text-transform: uppercase;
}
#page-profile {
    padding: 75px 0;
    background: #f7f7f7;
}
#page-profile .profile {
    border: 5px solid #333;
    width: 225px;
    height: 225px;
    margin: 0 20px 20px 0;
}
#page-skills {
    padding: 75px 0;
    background: #f7f7f7;
    text-align: center;
}
#page-education {
    padding: 75px 0;
    background: #fff;
}
#page-experience {
    padding: 75px 0;
    background: #f7f7f7;
}
#page-portfolio {
    padding: 75px 0;
    background: #fff;
}
#page-contact {
    padding: 75px 0;
}
#page-contact .contact-info p {
    font-size: 1.2em;
}
/* ==========================================================================
   Portfolio
   ========================================================================== */

#grid-controls-wrapper {
    text-align: center;
    float: none;
    width: 100%;
}
.center-pills {
    display: inline-block;
}

#grid .mix .thumbnail {
    border: 2px thin #F7F7F7;
    padding: 0;
    border-radius: 0;
}

#grid .mix .overlay i {
    font-size: 2em;
    opacity: 1;
    color: #fff;
    padding-top: 30%;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/**** Disable Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* ==========================================================================
   Dividers
   ========================================================================== */

.section-header {
    text-align: center;
}
.section-header p {
    font-size: 1.5em;
}
.section-title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    color: #555555;
    text-transform: uppercase;
    padding: 20px 0;
}
.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
}
.section-subtitle {
    text-align: center;
    padding: 30px 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
.control-group {
    margin-top: 10px;
}
.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}
#contact_form .form-control {
    /* Remove Bootstrap's border-radius of 0.25 rem */
    border-radius: 0;
}
#contact_form .alert-success {
    margin-top: 10px;
    padding: 15px;
}
#contact_form .alert-danger {
    margin-top: 10px;
    padding: 15px;
}
#contact_form .text-danger {
    margin-top: 3px;
}

.btn.btn-contact {
    margin: 40px auto 0;
    background: transparent;
    position: relative;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 12px 26px 12px;
    cursor: pointer;
    border: 2px solid #4cddf3;
    border-radius: 0;
    letter-spacing: 2px;
    pointer-events: auto;
    border-color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.btn.btn-contact:hover, .btn.btn-contact:active {
    background: #fff;
    border-color: #fff;
    color: #fff;
}
input, .input-lg, button {
    border-radius: 0;
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
    color: #b94a48;
}
label.error {
    color: #fff;
    background: #b94a48;
    border: solid thin #fff;
    padding: 3px 5px;
}
label.valid {
    color: #fff;
    background: #5CB85C;
    border: solid thin #fff;
    padding: 3px 5px;
}
.help-block ul {
      list-style: none;
      margin: 0;
      padding: 0;
}

.help-block ul li {
 background: #b94a48;
  color: #fff;
  padding: 4px 18px;
}
/* ==========================================================================
   Social icons
   ========================================================================== */


.socia-icons {
    padding-top: 10px;
    margin-bottom: 35px;
}
.socia-icons .btn.btn-clear {
    border: 1px solid #fff;
}

.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
}
.btn-round i {
    font-size: 20px;
    top: 15px;
    position: relative;
}
.btn.btn-clear {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    background-color: none;
    font-weight: bold;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.btn.btn-clear:hover, .btn.btn-clear.selected {
    background: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.btn-twitter:hover {
    color: #2BA9E0;
}
.btn-facebook:hover {
    color: #204385;
}
.btn-dribbble:hover {
    color: #D92C85;
}
.btn-instagram:hover {
    color: #BAB1A8;
}
.btn-lin:hover {
    color: #015786;
}
.btn-pinterest:hover {
    color: #CA2128;
}
.btn-google:hover {
    color: #D3492C;
}
.btn-github:hover {
    color: #000;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.left {
    float: left;
}
.right {
    float: right;
}
.text-center {
    text-align: center;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/* ======================================
   Blue
   ====================================== */
   /* Blue - #3498db */

.navbar-light .navbar-nav.nav-link>li>a:hover,a:hover,
.navbar-light .navbar-nav.nav-link>.active>a:hover, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav>li>a:hover, .navbar-light .navbar-nav .active > .nav-link:hover, a:hover {
    color: #3498db;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
    background: none;
    color: #777;
}

spacer,.nav-pills>li.active>a:hover {
    background: #3498db;
}


#page-contact {
    background: #3498db;
    color:#fff;
}

#page-contact .spacer {
   /* background: #fff;*/
}

#page-contact .section-title {
    color:#fff;
}
#page-contact .fa-envelope-o {
    margin-right: 3px;
}
.btn.btn-contact:hover,
.btn.btn-contact:active {
    color:#3498db;
}

.pagination {
    justify-content: center !important;
}
.articles-top {
    margin-top: 15px;
}
.article-title {
    color: grey;
}

.article-profile {
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: .5;
    margin-bottom: 10px;
}

.article-profile-image {
    margin-top: -10px;
    width: 70px;
}

code {
    color: #212529;
}

.author-info {
    margin-left: 10px;
}

.g-recaptcha {
    margin-top: 15px;
}

.grecaptcha-badge {
    visibility: hidden;
}

/* Dark/Light theme classes */
.text-white-title {
    color: #ffffff !important;
}

.text-white-dark-title {
    color: #e5e0d8 !important;
}
.text-gray-light {
    color: #9f9788 !important;
}
a.text-gray-light:hover {
    color: #3498db !important;
}

.text-dark-title {
    color: #555555 !important;
}
.text-dark-title-light {
    color: #9f9788 !important;
}

.text-slider-light {
    color: #ffffff !important;
}
.text-slider-dark {
    color: #e5e0d8 !important;
}

.bg-slider-light {
    background: #ffffff !important;
}
.bg-slider-dark {
    background: #e5e0d8 !important;
}

.text-gray-title {
    color: #b2ab9e !important;
}
.bg-gray {
    background: #f7f7f7 !important;
}
.bg-gray-dark {
    background: #282929 !important;
}
.bg-darker {
    background: #242525 !important;
}

.bg-nav-light {
   background: #ffffff !important;
}
.bg-nav-light:active,
.bg-nav-light:hover {
    background: #888888 !important;
}
.bg-nav-lighter {
    background: rgba(255,255,255,.85) !important;
}
.bg-nav-darker {
    background: rgba(36, 37, 37, 0.85) !important;
}
.bg-nav-dark {
    color: #aaa !important;
    border-color: #686868 !important;
}
.bg-nav-dark:active,
.bg-nav-dark:hover {
    background: #777777 !important;
}



.text-gray-link {
    color: #9e9587ff !important;
}
.text-gray-dark-link {
    color: #666666 !important;
}
.text-gray-link:hover,
.text-gray-dark-link:hover,
.text-gray-link:active,
.text-gray-dark-link:active {
    color: #3498db !important;
}

.btn-light:hover, .btn-light:active {
    background: #ffffff  !important;
    border-color: #ffffff  !important;
}
.btn-dark {
    color: #e5e0d8 !important;
}
.btn-dark:hover, .btn-dark:active {
    background: #333333 !important;
    border-color: #333333 !important;
}

.border-light {
    border: 1px solid #ffffff !important;
}
.border-dark {
    border: 1px solid #333333 !important;
}

.border-btn-light {
    border: 2px solid #ffffff !important;
}
.border-btn-dark {
    border: 2px solid #333333 !important;
}

.text-error-dark {
    background: #8e4541 !important;
    color: #ded5cd !important;
}

.text-error-light {
    background: #b94a48 !important;
    color: #ffffff !important;
}

.text-contact-light {
    color: #ffffff !important;
}
.text-contact-dark {
    color: #e5e0d8 !important;
}
.bg-contact-dark {
    background: #30719a !important;
}
.bg-contact-light {
    background: #007acd !important;
}
.text-contact-input-dark {
    color: #2e3236 !important;
}
.text-contact-input-light {
    color: #d7d7d3 !important;
}

.border-page-dark {
    border: 1px solid #333333 !important;
}

.container-custom {
    max-width: 1140px;
}

@media (min-width: 768px) {
    .container-portfolio {
        margin-bottom: 20px;
    }
}
@media (min-width: 992px) {
    .container-portfolio {
        margin-bottom: 25px;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

input:focus::placeholder, textarea:focus::placeholder {
    font-weight: 600;
}

.text-gray-light code {
    color: #D2D2D2 !important;
    background-color: #757575 !important;
}

.text-gray-light pre code {
    color: #D2D2D2 !important;
    background-color: inherit !important;
}

.text-gray-light .highlight pre, .text-gray-light pre {
    background-color: #757575 !important;
    color: #D2D2D2 !important;
}

.text-gray-light .pl-c {
    color: #4DD327 !important;
}

.text-gray-light .pl-s1 {
    color: #D2D2D2 !important;
}

.text-gray-light .pl-kos {
    color: #D2D2D2 !important;
}

.article {
    text-align: left;
}

.article .header {
    text-align: center;
}

.article-title {
    text-decoration: inherit;
}

article header p a {
    text-decoration: inherit;
}

.article p a {
    text-decoration: inherit;
}